@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
}

body {
  max-width: 480px;
  margin-inline: auto;
}

header {
  font-size: 2rem;
  font-weight: bold;
}

button {
  font: inherit;
  font-weight: bold;
  height: 2.5rem;
}

input {
  height: 2.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  text-align: center;
}

.sketch-area {
  display: grid;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: solid 2px black;
  margin-block: 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-item {
  aspect-ratio: 1 / 1;
  outline: solid 1px rgba(0, 0, 0, 0.1);
}

.active {
  background-color: black;
  color: white;
}
